@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.top-navbar {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c4b35;
}
.top-navbar .contact-icon ul {
  display: flex;
  gap: 20px;
}
.top-navbar span {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  margin-right: 5px;
}
.top-navbar .language a {
  display: flex;
}
.top-navbar div {
  margin: 20px;
}
.top-navbar .top-navbar-list {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
}

div.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 20px 0 20px;
}

div.call-and-menu {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

ul.navbar-list {
  display: flex;
  -moz-column-gap: 44px;
       column-gap: 44px;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

ul.navbar-list a {
  color: #212529;
}

div.header {
  height: 719px;
  background-color: Main/Gradient/1 Color #00730c 81% #fbf6ee 0%;
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}
div.header .img1 {
  margin-left: 1.82px;
  margin-top: 381px;
  width: 279.82px;
  background-image: url(./images/head1.png);
  background-repeat: no-repeat;
}
div.header .img2 {
  margin-right: 0.18px;
  margin-top: 46px;
}
div.header .header-content {
  margin-top: 133.11px;
  max-width: 556px;
}
div.header .header-content img {
  float: left;
  margin-right: 5px;
}
div.header .header-content span {
  color: #00730c;
}
div.header .header-content p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
}
div.header h6 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
div.header h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 79px;
}

div.header-row {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

div.buttons-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 50px;
}
div.buttons-row .button1 {
  width: 175px;
  height: 50px;
  background: #00730c;
  border-radius: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
div.buttons-row .button1 > a {
  color: #ffffff;
}
div.buttons-row .button2 {
  width: 177px;
  height: 37px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.buttons-row .button2 > a {
  color: #676767;
}

.tags-row {
  margin-top: 56px;
  display: flex;
}
.tags-row .circle {
  width: 50px;
  height: 50px;
  background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
  border-radius: 35px;
  line-height: 50px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  margin-right: 10px;
}
.tags-row .box {
  width: 89px;
  height: 40px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */